.logo img {
    margin: 2px;
}
.has-form {
    position: absolute;
    top: 0;
    left: 6rem;
    min-width: 14rem;
}
@media only screen and (max-width: 40em) {
    .has-form {
        min-width: 10rem;
        top: 0.5rem;
    }
    .has-form .button {
        height: 1.85rem;
    }
}
